/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Kameron:wght@400;700&family=Mitr:wght@300;400;500;600;700&display=swap');


/*
=============== 
Global Styles
===============
*/
html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: hsl(210, 36%, 96%);
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img:not(.logo) {
  width: 100%;
}

img {
  display: block;
}

/*  global classes */

/*
=============== 
Scroll
===============
*/
/* navbar */
nav {
  background: #fff;
  padding: 1rem 1.5rem;
  z-index: 999;
}

/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.fixed-nav .links a {
  color: hsl(209, 61%, 16%);
}

.fixed-nav .links a:hover {
  color: hsla(182, 63%, 54%);
}

/* .fixed-nav .links-container {
  height: auto !important;
} */
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-toggle {
  font-size: 1.5rem;
  color: hsl(209, 61%, 16%);
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}

.nav-toggle:hover {
  color: hsla(182, 63%, 54%);
}

.logo {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}


.fixed-nav .logo p {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  padding-left: 0.5rem;
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.show-links {
  height: 200px;
}

.links a {
  background: #fff;
  color: hsl(209, 61%, 16%);
  font-size: 1.1rem;
  text-transform: capitalize;
  display: block;
  transition: all 0.3s linear;
  font-weight: bold;
  padding: 0.75rem 0;
}

.links a:hover {
  color: hsl(209, 65%, 28%);
}




/* NAVBAR RESPONSIVE  */
@media screen and (min-width: 800px) {
  nav {
    background: transparent;
    z-index: 999;
  }

  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo p {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding-left: 1rem;
  }

  .nav-header {
    padding: 0;
  }

  .nav-toggle {
    display: none;
  }

  .links-container {
    height: auto !important;
  }

  .links {
    display: flex;
  }

  .links a {
    background: transparent;
    color: hsl(209, 61%, 16%);
    font-size: 1.1rem;
    text-transform: capitalize;
    display: block;
    transition: all 0.3s linear;
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
  }

  .links a:hover {
    color: hsl(209, 69%, 32%);
  }
}






/* hero */
header {
  min-height: 100vh;
  background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
    url(../image/asian-restaurant.jpeg) center/cover no-repeat;
}

.banner {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}

.container h1 {
  color: #fff;
  text-transform: uppercase;
}

.container p {
  color: #fff;
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
  font-size: 17px;
}

.container .scroll-link.btn {
  background: #fff;
  font-size: 18px;
  color: hsl(209, 61%, 16%);
  text-transform: capitalize;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 10px;
}



/* About Section */
/* About Section */
/* About Section */
.trio-about {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  min-height: 80vh;
  background:
    url(../image/about-bg.png) center/cover no-repeat;
  background-position: bottom center;
}

.trio-about .about-container {
  width: 80%;
  margin: auto;
}

.trio-about .title h2 {
  padding-top: 3rem;
  color: #d4b57d;
  font-family: 'Kameron', serif;
  font-size: 18px;
}

.trio-about .trio-info {
  padding: 20px 0;
}

.trio-about .trio-info p {
  color: #162e41;
  font-size: 16px;
  line-height: 1.6em;
  padding-top: 20px;
}

/* Responsive section */
@media screen and (max-width: 568px) {
  .trio-about .about-container {
    width: 100%;
    padding: 20px 2rem;
  }
}



/* Slider Section  */
.trio-slider {}

.trio-slider .mySlides {
  display: none;
}

.trio-slider img {
  vertical-align: middle;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* Slideshow container */
.trio-slider .slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}


/* The dots/bullets/indicators */
.trio-slider .dot-item {
  margin-top: -4rem;
  position: relative;
  z-index: 9;
}

.trio-slider .dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(255, 255, 255, .1);
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.trio-slider .active {
  background-color: #fff;
}

/* Fading animation */
.trio-slider .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .trio-slider .text {
    font-size: 11px
  }
}


/* Menu Section  */
/* Menu Section  */
/* Menu Section  */
.menu {
  background: #edebea;
  padding: 3rem 0;
}

.menu .menu-container {
  width: 80%;
  margin: auto;
}

.menu-bottom-container {
  min-height: 100vh;
  background:
    url(../image/menu-bg.png) center/cover no-repeat;
  background-position: bottom;
  background-size: cover;
}

.menu {
  padding-top: 3rem;
}

.menu .menu-item {
  margin-top: 5em;
}

.menu .menu-item .title h2 {
  color: #d4b57d;
  text-align: center;
  margin-bottom: 2em;
  padding-bottom: 1em;
}

.menu .menu-item .info {
  text-align: center;
  padding-bottom: 2em;
}

.menu .menu-item .info p.info-name {
  font-size: 1.1em;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2em;
}

.menu .menu-item .info p {
  line-height: 1.3em;
  font-size: 18px;
  margin-top: 5px;
}

.menu .menu-item {}

/* Responsive Section  */
@media screen and (max-width: 568px) {
  .menu .menu-container {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}


/* Contact Section  */
/* Contact Section  */
/* Contact Section  */
.contact {
  min-height: 100vh;
  background:
    url(../image/contact-bg.png) center/cover no-repeat;
  background-size: cover;
  padding: 2rem 0;
}

.contact .contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  width: 80%;
  margin: auto;
}

.contact .contact-container .contact-item .contact-list {
  padding-top: 2rem;
}

.contact .contact-container .contact-item .title h2 {
  color: #d4b57d;
  font-size: 18px;
}

.contact .contact-container .contact-item .info p {
  color: #eeedec;
  font-size: 18px;
  padding-top: 1rem;
}

.contact .contact-container .contact-item .info-2 p {
  color: #eeedec;
  font-size: 18px;
}

.contact .contact-container .contact-item .info p a {
  color: #eeedec;
  font-size: 18px;
  padding-top: 1rem;
}

.contact .contact-container .contact-item {}

/* Responsive Section  */
@media screen and (max-width: 692px) {
  .contact .contact-container {
    width: 100%;
    padding: 2rem;
    grid-template-columns: 1fr;
  }
}




footer {
  background: hsl(209, 61%, 16%);
  padding: 5rem 1rem;
}

footer p {
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.25rem;
  margin-bottom: 0;
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: hsla(182, 63%, 54%);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
  color: #fff;
  animation: bounce 2s ease-in-out infinite;

  visibility: hidden;
  z-index: -100;
}

.show-link {
  visibility: visible;
  z-index: 100;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}